@page
@model Prn221_8_HoaLan.Pages.Auctions.RegisterAuctionProductModel
@{
    Layout = "_Layout";
}

<div>
    file name: <h1>@Model.imageName</h1>
    <form method="post" enctype="multipart/form-data">
        <label>Name of the auction</label>
        <input type="text" value="" name="auctionName" />
        <br />
        <label>Name of product</label>
        <input type="text" value="" name="productName" />   
        <br />
        <label>Description of product</label>
        <textarea name="productDesc" rows="4" cols="50">

        </textarea>
        <br />
        <label>Quantity</label>
        <input type="number" value="1" name="productQuantity" min="1" max="10" />
        <br />
        <label for="imageInput">select image</label>
        <input type="file" id="imageInput" name="imageFile" />
        <br />
        <input type="submit" value="register product" />
    </form>
</div>
