@page "/register"
@model Prn221_8_HoaLan.Pages.Register.RegisterModel
@{
}

<head>
    <link rel="stylesheet" href="~/Prn221_8_HoaLan.styles.css" asp-append-version="true" />
</head>
<div class="register-container">
    <div class="register-wrapper flex-center">
        <div class="form-wrapper">
            <h1>Register</h1>
            <form class="form-horizontal" method="post">
                <div class="form-item flex-column">
                    <label>Username</label>
                    <input asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-item flex-column">
                    <label>Email</label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-item flex-column">
                    <label>First Name</label>
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-item flex-column">
                    <label>Last Name</label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-item flex-column">
                    <label>Phone Number</label>
                    <input asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-item flex-column">
                    <label>Address</label>
                    <input asp-for="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-item flex-column">
                    <label>Password</label>
                    <input type="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-item flex-column">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-item flex-column">
                    <label>Role</label>
                    <select asp-for="Role">
                        <option value="4">Customer</option>
                        <option value="3">Product Owner</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div>
                    @if (!string.IsNullOrEmpty(ViewData["Message"] as string))
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            @ViewData["Message"]
                        </div>
                    }
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
