@page
@model IndexModel
@using DataAccessLayer.Model;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Home page";
}
@{
    Layout = "_Layout";
}
@{
    var fullName = "";
    var session = HttpContext.Session;
    User user = Prn221_8_HoaLan.SessionExtensions.Get<User>(session, "User");
    if(user != null)
    {
        fullName = user.FirstName + " " + user.LastName;
        ViewBag.Role = user.Role;
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome @fullName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
