@using DataAccessLayer.Model
@{
    var user = Prn221_8_HoaLan.SessionExtensions.Get<User>(Context.Session, "User");
    var admin = Prn221_8_HoaLan.SessionExtensions.Get<String>(Context.Session, "Admin");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prn221_8_HoaLan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/f381550269.js" crossorigin="anonymous"></script>
    @RenderSection("Styles", required: false)
    <style>
        /* Colors */
        :root {
            --primary-color: white;
            /* black */
            --secondary-color: black;
            /* orange */
            --tertiary-color: black;
            /* white */
            --danger-color: #FF4000;
        }

        body {
            background-color: var(--primary-color);
            color: var(--tertiary-color);
            font-family: 'Montserrat', sans-serif;
        }

        .navbar,
        .navbar-nav,
        .nav-item,
        .navbar-brand {
            background-color: var(--primary-color) !important;
            color: var(--secondary-color) !important;
            padding: 10px 0 !important;
        }

        .nav-item {
            margin-left: 10px;
        }

            .nav-item > a:hover {
                color: var(--danger-color) !important;
            }

        /* Search and Select */
        .form-control {
            background-color: var(--tertiary-color);
            border-color: var(--primary-color);
            color: var(--primary-color);
        }

            .form-control:focus {
                background-color: var(--tertiary-color);
                border-color: var(--secondary-color);
                color: var(--primary-color);
            }

        select.form-control option {
            background-color: var(--tertiary-color);
            color: var(--primary-color);
        }

        /* Table */
        .table {
            background-color: var(--primary-color);
            border: 1px solid var(--secondary-color);
            border-radius: 5px;
        }

            .table th {
                border-bottom-color: var(--primary-color);
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                color: var(--secondary-color);
            }
        /*
                    .table td {
                        border-color: var(--primary-color);
                    } */

        .table-hover tbody tr:hover {
            background-color: #232323 !important;
            color: var(--primary-color);
        }

        /* Animations */
        .table td,
        .table th {
            position: relative;
            transition: all 0.3s ease;
        }

            .table td::before,
            .table th::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--secondary-color);
                z-index: -1;
                opacity: 0;
                transition: all 0.3s ease;
            }

            .table td:hover::before,
            .table th:hover::before {
                opacity: 0.1;
            }

        /* Elegant links */
        a {
            color: var(--secondary-color);
            text-decoration: none;
            position: relative;
            transition: all 0.3s ease;
        }

            a::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--secondary-color);
                transform: scaleX(0);
                transform-origin: left;
                transition: all 0.3s ease;
            }

        /* Buttons */
        .btn {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: var(--primary-color);
            transition: all 0.3s ease;
        }

            .btn:hover {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                color: var(--tertiary-color);
            }

        .btn-primary {
            background-color: var(--primary-color);
            border: 1px solid var(--secondary-color);
            color: var(--tertiary-color);
        }

            .btn-primary:hover {
                background-color: var(--secondary-color);
                border-color: var(--secondary-color);
                color: var(--primary-color);
            }

        .btn-secondary {
            background-color: var(--primary-color);
            color: var(--tertiary-color);
            border-left: 1px solid var(--secondary-color);
        }

            .btn-secondary:hover {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                color: var(--tertiary-color);
            }

        .btn-danger {
            background-color: var(--primary-color);
            color: var(--tertiary-color);
        }

            .btn-danger:hover {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                color: var(--danger-color);
                border-bottom-color: var(--danger-color);
            }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (admin != null) // Role admin
                        {
                            <li class="nav-item">
                                <a class="" asp-area="" asp-page="/Admin/ManageUser/Detail">ManageUser</a>
                            </li>
                            <li class="nav-item" style="flex: 1; font-size: 1.25rem;">
                                <a class="" asp-area="" asp-page="/Admin/ManageAuction/AssignAuctionToStaff">Assign Staff</a>
                            </li>
                            <li class="nav-item d_none" style="font-size: 1.25rem;">
                                <a class="nav-link btn btn-danger" asp-page="/Logout/Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position: sticky; z-index: 999; top: 100%;">
        <div class="container">
            &copy; 2024 - Prn221_8_HoaLan - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
