@page
@model Prn221_8_HoaLan.Pages.Auctions.RegisterAuctionProductModel
@{
    Layout = "_Layout";
}
@using DataAccessLayer.Model
@{
    var fullName = "";
    var session = HttpContext.Session;
    User user = Prn221_8_HoaLan.SessionExtensions.Get<User>(session, "User");
    if (user != null)
    {
        fullName = user.FirstName + " " + user.LastName;
        ViewBag.Role = user.Role;
    }
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="border p-4 col-md-8 mx-auto">
        <h1 class="text-center=">Auction Register</h1>
        <div class="text-center mb-4 text-danger">@Model.Msg</div>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="auctionName" class="form-label">Name of the Auction</label>
                <input type="text" class="form-control shadow-none border-0" style="background-color: #d3d3d3" id="auctionName" name="auctionName">
            </div>
            <div class="mb-3">
                <label for="productName" class="form-label">Name of Product</label>
                <input type="text" class="form-control shadow-none border-0" style="background-color: #d3d3d3" id="productName" name="productName">
            </div>
            <div class="mb-3">
                <label for="productDesc" class="form-label">Description of Product</label>
                <textarea class="form-control shadow-none border-0" style="background-color: #d3d3d3" id="productDesc" name="productDesc" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label for="imageInput" class="form-label">Select Image</label>
                <input type="file" class="form-control shadow-none border-0" style="background-color: #d3d3d3" id="imageInput" name="imageFile" />
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary">Register Product</button>
            </div>
        </form>
    </div>
</div>
