@page
@using DataAccessLayer.Model
@model Prn221_8_HoaLan.Pages.Products.ProductRegisterModel
@{
    Layout = "_Layout";
}
@{
    var fullName = "";
    var session = HttpContext.Session;
    User user = Prn221_8_HoaLan.SessionExtensions.Get<User>(session, "User");
    if (user != null)
    {
        fullName = user.FirstName + " " + user.LastName;
        ViewBag.Role = user.Role;
    }
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="border p-4 col-md-8 mx-auto">
        <h1 class="text-center">Product Register</h1>
        <div class="text-center mb-4 text-danger">@Model.Msg</div>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="ProductName" class="form-label">Product Name</label>
                <input type="text" class="form-control shadow-none border-0" style="background-color: #d3d3d3" id="ProductName" name="ProductName">
            </div>
            <div class="mb-3">
                <label for="priceInput" class="form-label">Price Of Product</label>
                <input type="number" class="form-control shadow-none border-0" style="background-color: #d3d3d3" id="priceInput" name="ProductPrice" min="10000" max="1000000000"/>
            </div>
            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Description Of Product</label>
                <textarea class="form-control shadow-none border-0" style="background-color: #d3d3d3" id="descriptionInput" name="Description" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label for="quantityInput" class="form-label">Quantity Of Product</label>
                <input type="number" class="form-control shadow-none border-0" style="background-color: #d3d3d3" id="quantityInput" name="QuanityProduct" min="1" max="1000000"/>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Image Of Product</label>
                <input type="file" id="imageInput" name="imageFile" accept=".jpg,.png,.jpeg" />
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
