@page
@using DataAccessLayer.Model
@model Prn221_8_HoaLan.Pages.Products.ProductDisplayModel
@{
    Layout = "_Layout";
}
@{
    var fullName = "";
    var session = HttpContext.Session;
    User user = Prn221_8_HoaLan.SessionExtensions.Get<User>(session, "User");
    if (user != null)
    {
        fullName = user.FirstName + " " + user.LastName;
        ViewBag.Role = user.Role;
    }
}


<div class="glasses">
    <h2 class="font-weight-bold text-center">Our Hoa</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass1.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass2.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass3.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass4.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass5.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass6.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass7.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <figure><img src="images/glass8.png" alt="#" /></figure>
                    <h3><span class="blu">$</span>50</h3>
                    <p>Sunglasses</p>
                </div>
            </div>
   @*          <div class="col-md-12 d-flex flex-column justify-content-center">
                <div>
                    <a class="read_more my-0" href="/Products/ProductDisplay">More</a>
                </div>
            </div> *@
        </div>
    </div>
</div>