@page
@using DataAccessLayer.Model
@model Prn221_8_HoaLan.Pages.Orders.OrderDetailModel
@{
    Layout = "_Layout";
}
@{
    var fullName = "";
    var session = HttpContext.Session;
    User user = Prn221_8_HoaLan.SessionExtensions.Get<User>(session, "User");
    if (user != null)
    {
        fullName = user.FirstName + " " + user.LastName;
        ViewBag.Role = user.Role;
    }
}

<div class="d-flex flex-column mx-4 mt-3">
    @foreach (OrderDetail od in @Model.orderDetails)
    {
        <div style="border-color: black; border: 1px solid; border-radius: 13px" class="d-flex flex-column mb-2 px-3 py-2">
            <h1>@od.ProductNavigation.ProductName</h1>
            <div class="ms-4 flex flex-column">
                <div>
                    Quantity
                    @od.Quantity
                </div>
                <div>
                    Total price
                    @od.TotalPrice
                </div>
            </div>
        </div>

    }
</div>