@page "{AuctionId:int}"
@model Prn221_8_HoaLan.Pages.Staff.AuctionManagement.AuctionCreateModel
@{
    Layout = "_LayoutAdmin";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="border p-4 col-md-8 mx-auto">
        <h1 class="text-center mb-4">Auction Registration</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="startPriceInput" class="form-label">Start Price Of Auction</label>
                <input type="number" class="form-control" id="startPriceInput" name="StartPrice" min="0" required>
            </div>
            <div class="mb-3">
                <label for="priceStepInput" class="form-label">Price Step Of Auction</label>
                <input type="number" class="form-control" id="priceStepInput" name="PriceStep" min="0" required />
            </div>
            <div class="mb-3">
                <label for="startTimeInput" class="form-label">Start Time Of Auction</label>
                <input type="datetime-local" class="form-control" id="startTimeInput" name="StartTime" required />
            </div>
            <div class="mb-3">
                <label for="endTimeInput" class="form-label">End Time Of Auction</label>
                <input type="datetime-local" class="form-control" id="endTimeInput" name="EndTime" required />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

